[user]
	name = {{ full_name }}
	email = {{ git_email }}
	signingkey = 08DCD1EE8416762FAC96B6C1EA3323E9772F0F90

[alias]
	tree = log --graph --full-history --all --pretty=format:\"%h%x09%d%x20%s\"
[pull]
	rebase = true
[core]
	autocrlf = input
	safecrlf = warn
[merge]
	conflictsyle = diff3
	tool = kdiff3
[color]
	ui = auto
[push]
	default = simple
[diff]
	tool = meld
[mergetool]
	keepBackup = false